.profile-container {
    min-height: 50px;
    display: flex;
    padding: 10px;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.menu-slider-title {
    color: #828282;
}

.profile-inner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.avatar {
  width: 50px;
  height: 50px;
  background-color: purple;
  border-radius: 20px;
}